@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Ocorreu um problema.</h2>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
{
    <p>
        <strong>Detalhes:</strong> @ViewData["ErrorMessage"]
    </p>
}