@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>
        Faça o Login via Swagger para poder acessar as tarefas.
        <br /> 
        Body: { "username": "testuser", "password": "testpassword" } 
        <br />
        <a href="http://localhost:5186/swagger/index.html" class="btn btn-primary" style="margin-top: 20px;">Ir para o Swagger</a>
    </p>

    <a href="/Tasks" class="btn btn-primary">Ir para Tasks</a>
</div>
